<h2>Update yer Dino Info</h2>

<form method="POST" action="/dinosaurs/<%= dino.id %>/?_method=PUT">
    <label for="dinosaurType"> Type </label>
    <input type="text" name="dinosaurType" value="<%= dino.type%>" />

    <label for="dinosaurName"> Name </label>
    <input type="text" name="dinosaurName" value="<%= dino.name%>" />

        <input type="submit" value="UPDATE MY DINO">
    </form>
<br>
<a href="/dinosaurs">BACK TO DINOS</a>